body {
	width: 100vw;
}

.CardDetail-body {
	width: 100vw;
	display: flex;
	align-content: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	color: #ffffff;
}
.div-Navbar {
	position: absolute;
}
.CardDetail-conteiner-img {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: flex-end;
	align-items: flex-end;
}
.CardDetail-imgMain {
	width: 100%;
	height: 10%;
	margin: -150px 0px 0px 0px;
	overflow: hidden;
	align-self: center;
}
.CardDetail-h1 {
	color: rgb(255, 255, 255);
	font-size: 100%;
	padding: 1rem;
	margin: 0px 25px 0px 0px;
	border-bottom: 5px double #f3b837a6;
	border-radius: 0px 0px 40px 0px;
}
.CardDetail-galery {
	display: grid;
	grid-template-columns: repeat(1fr);
	grid-template-rows: repeat(1fr);
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	justify-content: space-around;
	align-content: space-evenly;
	align-items: center;
	justify-items: center;
	overflow: hidden;
}
.CardDetail-galery-img {
	width: 100%;
	height: auto;
}
.CardDetail-conteiner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	width: 100%;
	height: 95vh;
	border-radius: 0px 40px 40px 0px;
}
.box_feature {
	padding: 2em;
}
.div-header {
	width: 100%;
	height: 40vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
}
.div-header p {
	color: #153b67;
	width: 98%;
	background: rgb(255, 255, 255);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 10%,
		rgba(148, 187, 233, 0) 100%
	);
	height: fit-content;
	align-self: end;
	text-align: center;
}
.infoContainer {
	width: 98%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-evenly;
	align-items: flex-start;
	margin-top: 10px;
}
.infoBox1 {
	width: 45%;
	min-height: 30vh;
	padding: 10px 0px 0px 0px;
	/* border: 2px solid green; */
	border-radius: 20px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #3482dbc7;
}

.infoBox1 ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: flex-start;
	align-items: center;
}
.infoBox1 li {
	list-style: none;
	margin: 10px;
	padding: 20px;
	margin-bottom: 20px;
}
.infoBox2 {
	width: 45%;
	min-height: 50vh;
	padding: 10px 0px 0px 0px;
	/* border: 2px solid green; */
	border-radius: 20px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #3482dbc7;
}

.infoBox2 ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: flex-start;
	align-items: center;
}
.infoBox2 li {
	list-style: none;
	margin: 10px;
	padding: 15px;
	margin-bottom: 20px;
}

.infoBox2 p {
	margin: 20px;
	font-size: 1.5rem;
}

li {
	margin: 5px 0px;
}

@media (max-width: 1085px) {
	
	h3 {
		font-size: 3rem;
	}
	.infoBox1,
	.infoBox2 {
		background: rgb(131,58,180);
background: linear-gradient(122deg, rgba(131,58,180,1) 0%, rgba(0,228,255,0.9023984593837535) 58%, rgba(255,255,255,0) 100%);
		height: 25vh;
		min-height: auto;
		
	}
	.infoBox1 li ,
	.infoBox2 li {
		padding: 0px;
		margin: 0px;
	}

	.infoBox2 {
		width: 80%;
		height: auto;
	}
	.infoBox2 ul {
flex-direction: column;
padding: 0;
	}
	.infoBox2 p {
font-size:1rem;
	}
}
